<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.study.user.mapper.UserScoreInfoMapper">

    <select id="getUserScoreInfoByWrapper" resultType="com.study.study.user.entity.UserScoreInfo">
        select * from score,user,course ${ew.customSqlSegment}
    </select>
</mapper>
